body {
    margin: 0;
    display: flex;
    justify-items: flex-start;
    padding: 24px;
}

#grid-container { 
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(8, auto);

    height: 400px;
    width: 400px;
}

#grid-options {
    margin: 16px 16px 16px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-options > div {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 16px;
}

.cell {
    border: 1px solid red;
}